<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.dao.UserLoanContactsDao" >
  <resultMap id="BaseResultMap" type="com.cx.pojo.UserLoanContacts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cx.pojo.UserLoanContacts" extends="BaseResultMap" >
    <result column="contacts" property="contacts" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, telephone
  </sql>
  <sql id="Blob_Column_List" >
    contacts
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cx.pojo.UserLoanContactsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_loan_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cx.pojo.UserLoanContactsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_loan_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_loan_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_loan_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cx.pojo.UserLoanContacts" >
    insert into user_loan_contacts (id, user_id, telephone, 
      contacts)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, 
      #{contacts,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cx.pojo.UserLoanContacts" >
    insert into user_loan_contacts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cx.pojo.UserLoanContactsExample" resultType="java.lang.Integer" >
    select count(*) from user_loan_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.cx.pojo.UserLoanContacts" >
    update user_loan_contacts
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cx.pojo.UserLoanContacts" >
    update user_loan_contacts
    set user_id = #{userId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cx.pojo.UserLoanContacts" >
    update user_loan_contacts
    set user_id = #{userId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllPhone" resultType="java.lang.String" >
    select telephone from user_loan_contacts
  </select>

  <select id="getAllUserId" resultType="java.lang.String" >
    select user_id from user_loan_contacts
  </select>

  <select id="getContactsByUserId" parameterType="java.lang.String" resultType="java.lang.String" >
    select contacts from user_loan_contacts
    where user_id =#{userId}
  </select>

  <select id="getPhoneByUserId" parameterType="java.lang.String" resultType="java.lang.String" >
    select telephone from user_loan_contacts
    where user_id =#{userId}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(*) from user_loan_contacts
    where telephone =#{telephone,jdbcType=VARCHAR}
  </select>


  <select id="getUserIdByPhone" parameterType="java.lang.String" resultType="java.lang.String" >
    select user_id from user_loan_contacts
    where telephone =#{phone}
  </select>
</mapper>